{% extends './_base.html' %}

{% block content %}

    <div>

        <h1>Change password</h1>

        <a href="{% url 'home:home' %}">Home</a>

        <form action="{% url 'change_password' %}" method="POST">
            {% csrf_token %}
            <div class="input-pair">
                <label for="change-current-password">Type current password</label>
                <input type="password" name="change-current-password" id="change-current-password" />
            </div>
            <div class="input-pair">
                <label for="change-new-password">Type new password</label>
                <input type="password" name="change-new-password" id="change-new-password" />
            </div>
            <div class="input-pair">
                <label for="change-new-password-confirm">Confirm new password</label>
                <input type="password" name="change-new-password-confirm" id="change-new-password-confirm" />
            </div>
            <br />
            <button>Change password</button>
        </form>

        {% if message %}
            <p>{{ message }}</p>
        {% endif %}

    </div>

{% endblock %}