{% extends './_base.html' %}

{% block content %}

    <div>

        <h1>Reset password</h1>

        <a href="{% url 'login' %}">Login</a>

        <form action="{% url 'request_reset_password' %}" method="POST">
            {% csrf_token %}
            <div>
                <label for="reset-email">Email</label>
                <input type="email" name="reset-email" id="reset-email" />
            </div>
            <br />
            <button>new password</button>
        </form>

        {% if message %}
            <p>{{ message }}</p>
        {% endif %}

    </div>
    
{% endblock %}